* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* 'Px437 IBM VGA 8x16' is a manually downloaded and named font so figure it out lol*/
    font-family: 'Px437 IBM VGA 8x16', FontAwesome;
    font-size: 13px;
}
window#waybar {
    background: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
#workspaces {
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    margin-left:16px;
}
#workspaces button label {
    font-size:24px;
    padding:0;
    margin:0;
    color: #FFFFFF;
}

/* This just gets ride of the button like effects. You can still click the circles but my build is designed to not use mouse a lot so i prefer to use them as indicators */
#workspaces button {
    padding:0;
    margin:0;
}
#workspaces button:hover {
    background:transparent;
    border: none;
    border-radius:0;
    margin:0px;
    box-shadow:none;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media {
    padding: 0 10px;
    color: #ffffff;
}

#clock {
    background: transparent;
    border-radius: 10px;
    font-weight: bolder;
    margin-top:5px;
    font-size: 20px;
}

#battery {
    background: transparent;
    color: #FFFFFF;
    font-weight: bolder;
    font-size:22px;
    margin-right:5px;
}
#battery.charging, #battery.plugged {
    color: rgb(0, 255, 0);
}
#battery.critical:not(.charging) {
    color: rgb(255, 0, 0);
}

#backlight {
    background: transparent;
    font-size: 24px;
    color: #FFFFFF;
    margin-right:15px;
}

#network {
    font-weight:bolder;
    font-size:24px;
    margin-left: 128px; 
}

#pulseaudio {
    background: transparent;
    color: #FFFFFF;
    font-weight:bolder;
    font-size:22px;
    margin-right:15px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-welcomemessage{
    color:#FFFFFF;
    font-size:24px;
    font-weight:bolder;
    margin-right: 128px;
    margin-top:2px;
}

#custom-soundwave {
    font-family: monospace;
    font-size: 14px;
    color: #00ffcc;
    padding: 0 10px;
    margin-left:24px;
}

