:root{
    --text-color: #33FF00;
    --background-color: #1C1C1C;
    --font: 'Px437 IBM VGA 8x16';


    --comment: 'Do not use variables as theyre not supported on GTK widgets, this is here to store it and Ctr+C & Ctr+V';
}


#window{
    background-color: #1C1C1C;
}
#input{
    font-family: "Px437 IBM VGA 8x16";
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}

#inner-box{
    margin-left: 10px;
}
.entry{
    padding: 2px;
    margin-left: 10px;
}
#entry:selected{
    border: #33FF00 solid 2px;
    background-color: #1C1C1C;
}
#text{
    font-family: "Px437 IBM VGA 8x16";
    color:#33FF00;
    font-size: 25px;
}
